{% extends 'base.html' %}

{% block title %}Create A New Blog Post!{% endblock %}
{% block content %}

{% if user.is_authenticated %}

<h1 class="display-1"align= center>Add Blog A Post</h1>
<br /> <br />
<div class="form-group" align= center>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="btn btn-primary" align= center>Post</button>
</div>

{% else %}

	<p>You are not allowed here! (and you know it...)</p><br />
	<a href="{% url 'home' %}" class="btn btn-primary"> Back to Home </a>

	{% endif %}
{% endblock %}