{% extends 'base.html' %}
{% load static %}
<div class="container-fluid">
{% block content %}

<!--current user: {{user.id}}
post author: {{post.author.id}}-->
{% if user.is_authenticated %}

<div class="card" align=center>
<div class="card-body" align=center>
<h1 class="card-title"align=center>{{ post.title }}</h1> <!--blog post title referenced -->
<h2 class="card-subtitle mb-2 text-muted" align=center >By: {{ post.author.username }} - 
{{post.post_date}} - <a href="{% url 'category' post.category|slugify %}"> {{ post.category }} </a></h2>
{% if user.id == post.author.id%}
<small><a href="{% url 'update_post' post.pk %}" class="btn btn-secondary btn-sm">Edit</a> 
<a href="{% url 'delete_post' post.pk %}" class="btn btn-danger btn-sm">Delete</a></small></h4> <!-- referenced the defined user name of the author -->
{% endif %}
<hr>
<br/>
{% if post.header_image %}
	<img class="card-img-top" src="{{ post.header_image.url }}" alt="Card image cap"> <br/> <br/>
	{% endif %}
<p class="card-text" align=center> {{ post.body|safe }}</p> <!-- blog title -->
<br />
<hr>
<form action="{% url 'like_post' post.pk %}" method="POST">
	<!--template tag referencing Cross Site Request Forgeries
	middleware providing easy protection thorough a simple tag.
	 -->
	{% csrf_token %}

	{% if liked %}
	<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger">Unlike</button>
	{% else %}
	<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-secondary">Like</button>
	{% endif %}
	 {{ total_likes }} Likes
	<a href="{% url 'home' %}" class="btn btn-primary"> Back to Home </a>


{% else %}

<div class="card" align= center>
<div class="card-body" align= center>
<h1 class="card-title"align= center>{{ post.title }}</h1> <!--blog post title referenced -->
<h2 class="card-subtitle mb-2 text-muted" align= center>By: {{ post.author.username }} - 
{{post.post_date}}</h2>
{% if post.header_image %}
	<img class="card-img-top" src="{{ post.header_image.url }}" alt="Card image cap"> <br/> <br/>
{% endif %}

<br/>
<br/>
<p class="card-text"> {{ post.body|safe }}</p> <!-- blog title -->

<br />
<hr>
<a href="{% url 'home' %}" class="btn btn-primary"> Back to Home </a> {{ total_likes }} Like - <a href ="{% url 'login' %}"> Log in to like.</a>

{% endif %}

<br/><br/>
<!--
height and width is a placeholder until we add another way to handle images.
--> 

<!-- user profile card! -->


<div class="card mb-3">

  <div class="row no-gutters">
  	<div class="col-md-2">
  			
{% if post.author.profile.profile_pic %}  	
  		<img src= "{{ post.author.profile.profile_pic.url}}"
  		width=150 height=150 class="rounded-circle">
{% else %}
  	 <img src= "{% static 'images/default.png' %}">
{% endif %}

</div>
<div class="col-md-10">
  <div class="card-body">



<h5 class="card-title">
   	{{ post.author.username }}
</h5>
	
	<p class="card-text"><small class="text-muted">

		<a href="{% url 'show_profile_page' post.author.profile.id %}"> | Profile Page </a>

    	{% if post.author.profile.website_url %}
    		<a href="{{ post.author.profile.website_url }}"> | Website </a>
    	{% endif %}

    	{% if post.author.profile.fb_url %}
    		<a href="{{ post.author.profile.fb_url }}"> | Facebook </a>
    	{% endif %}

    	{% if post.author.profile.twitter_url %}
    		<a href="{{ post.author.profile.twitter_url }}"> | Twitter </a>
    	{% endif %}

    	{% if post.author.profile.instagram_url %}
    		<a href="{{ post.author.profile.instagram_url }}"> | Instagram </a>
    	{% endif %}

    	{% if post.author.profile.pinterest_url %}
    		<a href="{{ post.author.profile.pinterest_url }}"> | Pinterest</a>
    	{% endif %}

    </small></p>

    <p class="card-text">
    {{ post.author.profile.bio }}
		</p>
    <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

  </div>
</div>
</div>
</div>
<!-- comment section -->

<br/> <br/>
<hr>

<h1 align="center"> Leave A Comment </h1>

<!-- comment box -->

<a href="{% url 'add_comment' post.pk %}"> Add a comment </a><br/>


<hr>
<br/>
<br/>

<!-- we can call the comment model due to the foreign key assossiciating it 
	with the post model that is already being used to populate this page.-->
<!-- model name is comment, foreign key is comments -->
{% if not post.comments.all %}
	No Comments Yet, Be The First!
	Add One</a>
{% else %}
		{% for comment in post.comments.all %}
		<strong>
			<h3 class="text-muted">
			<a href ="#" > {{ comment.author }} </a> </h3> <small> {{ comment.date_added }} </small>
		
		</strong>
		<br/>
		{{ comment.body }}
		<hr>
	{% endfor %}
	<hr>
<a href="{% url 'add_comment' post.pk %}"> Add a comment </a>
{% endif %}

{% endblock %}

</div>
</div>
</div>