{% extends 'base.html' %}
<div class="container-fluid">
{% block content %}

<!--current user: {{user.id}}
post author: {{post.author.id}}-->
{% if user.is_authenticated %}
<div class="card" align=center>
<div class="card-body" align=center>
<h1 class="card-title"align=center>{{ post.title }}</h1> <!--blog post title referenced -->
<h2 class="card-subtitle mb-2 text-muted" align=center >By: {{ post.author.username }} - 
{{post.post_date}} - <a href="{% url 'category' post.category|slugify %}"> {{ post.category }} </a></h2>
{% if user.id == post.author.id%}
<small><a href="{% url 'update_post' post.pk %}" class="btn btn-secondary btn-sm">Edit</a> 
<a href="{% url 'delete_post' post.pk %}" class="btn btn-danger btn-sm">Delete</a></small></h4> <!-- referenced the defined user name of the author -->
{% endif %}
<hr>
<br/>
<p class="card-text" align=center> {{ post.body|safe }}</p> <!-- blog title -->
<br />
<hr>
<form action="{% url 'like_post' post.pk %}" method="POST">
	<!--template tag referencing Cross Site Request Forgeries
	middleware providing easy protection thorough a simple tag.
	 -->
	{% csrf_token %}

	{% if liked %}
	<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger">Unlike</button>
	{% else %}
	<button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-secondary">Like</button>
	{% endif %}
	 {{ total_likes }} Likes
	}
	}
	

<a href="{% url 'home' %}" class="btn btn-primary"> Back to Home </a>

{% else %}

<div class="card" align= center>
<div class="card-body" align= center>
<h1 class="card-title"align= center>{{ post.title }}</h1> <!--blog post title referenced -->
<h2 class="card-subtitle mb-2 text-muted" align= center>By: {{ post.author.username }} - 
{{post.post_date}}</h2>

<hr>
<br/>
<p class="card-text"> {{ post.body|safe }}</p> <!-- blog title -->
<br />
<hr>
<a href="{% url 'home' %}" class="btn btn-primary"> Back to Home </a> {{ total_likes }} Like - <a href ="{% url 'login' %}"> Log in to like.</a>

{% endif %}
{% endblock %}
</div>
</div>
</div>