{% extends 'base.html' %}

{% block content %}

<title> {% block title %} Apollo Blog {% endblock %} </title>
<body>
	
<div class="container-fluid">
<h1 class="display-1"align= center>Posts:</h1> <br />

<ul>
{% for post in object_list %} <!--database is post model -->

<div class="card" align= center>
	<div class="card-body"align= center>
		<li><a  href="{% url 'article_detail' post.pk %}"> 
		<h1 class="card-title" align= center>{{ post.title }}</h1></a> <!-- convert anchor tag to convert blog title to hyperlink to details page, dynamically assigned !-->
</div>
	 	
	 	<h4 class="card-subtitle mb-2 text-muted" align= center> - {{ post.author.username }} - <a href="{% url 'category' post.category|slugify %}"> {{ post.category }} </a></h4>
	 	
	 	<p class ="card-text" align= center> {{ post.body | slice:":200"|safe }} </p> <br />
	 	
	 	{% if user.is_authenticated %}
	 		{% if user.id == post.author.id%}
	 		<small><a href="{% url 'update_post' post.pk %}" class="btn btn-secondary btn-sm">Edit</a>
	 	
	 		<a href="{% url 'delete_post' post.pk %}" class="btn btn-danger btn-sm">Delete</a>
	 		{% endif %}
	 	{% endif %}

	 </small>  <br />
	
</div>
	
{% endfor %}

</ul>
<!--
{% for item in cat_menu %}
	{{ item }}<br />
{% endfor%}
{{cat_menu}}

</body>

{% endblock %}