{% extends 'base.html' %}

{% block content %}

<title> {% block title %} Apollo Blog {% endblock %} </title>

<h1>Post</h1>

<ul>
{% for post in object_list %} <!--database is post model -->
	<li><a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a> <!-- convert anchor tag to convert blog title to hyperlink to details page, dynamically assigned !-->
	 - {{ post.author.username}} - <a href="{% url 'update_post' post.pk %}">(Edit)</a> <br/>
	{{ post.body }}</li>
{% endfor %}
</ul>

{% endblock %}