{% extends 'base.html' %}

{% block title %}Create A New Profile Page!{% endblock %}
{% block content %}

{% if user.is_authenticated %}

<h1 class="display-1"align= center>Create Profile Page</h1>
<br /> <br />
<div class="form-group" align= center>
	<form method="POST" enctype="multipart/form-data">
<!--template tag referencing Cross Site Request Forgeries
	middleware providing easy protection thorough a simple tag.
	 -->
		{% csrf_token %}
<!--Form media allows ckeditor that is referenced on the body-->
<!--		{{ form.media }} -->
<!--Form as p rrelates to translating paragraph tag objects in to formfields-->
		{{ form.as_p }}
		<button class="btn btn-primary" align= center>Post</button>
</div>

<!-- <script>
	var name = "{{user.id}}";
	document.getElementById("author_box").value = name;
</script> -->

{% else %}

	<p>You are not allowed here! (and you know it...)</p><br />
	<a href="{% url 'home' %}" class="btn btn-primary"> Back to Home </a>

	{% endif %}
{% endblock %}